/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    background-color: #F4F6FA;
    padding-bottom: 30px;
    overflow-x: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a{
    text-decoration: none;
}


/* buscador */

.buscador{
    display: none;
    z-index: 999;
    position: absolute;
}

.buscador i.bx-x{
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: all ease .55s;
}

.buscador i.bx-x:hover{
    transform: scale(1.2);
}

.buscador .buscador-real{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -20px;
    flex-direction: column;
}

.buscador .buscador-real label{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
}

.buscador .buscador-real i{
    font-size: 20px;
    margin-right: 10px;
}

.buscador .buscador-real label input{
    border: none;
    font-size: 16px;
}

.buscador .buscador-real label input:focus{
    outline: none;
    box-shadow: none;
}

.buscador .buscador-real ul#resultados{
    width: 15%;
    list-style: none;
}

.buscador .buscador-real ul#resultados li{
    padding: 10px 20px;
    background-color: #fafafa;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: all ease .55s;
}

.buscador .buscador-real ul#resultados li:hover{
    background-color: #d8d8d8;
}


/* navbar */

.nav-bar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100vw;
}

.nav-bar ul.menu{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    align-items: center;
}

.nav-bar ul.menu li{
    color: #000000;
    font-weight: 400;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease .55s;
}

.nav-bar ul.menu li img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 10px;
}

.nav-bar ul.menu li:hover{
    transform: scale(1.1);
}

.nav-bar ul.menu li a{
    text-decoration: none;
    color: #000000;
}

.nav-bar ul.menu li i{
    font-size: 26px;
}

.nav-bar ul.menu li i.bxs-moon,
.nav-bar ul.menu li i.bxs-sun{
    margin-left: 20px;
}

.nav-bar ul.menu li i.bx-search-alt{
    margin-right: 20px;
}

.nav-bar ul.menu li i,
.nav-bar ul.menu li.language-changer{
    cursor: pointer;
}

.nav-bar i.bx{
    display: block;
    cursor: pointer;
    font-size: 30px;
    width: auto;
    height: auto;
}

.nav-bar i.bx-menu,
.nav-bar i.bx-x{
    display: none;
}

.nav-bar ul.responsive-menu{
    display: none;
    list-style: none;
    width: 100%;
    display: none;
    position: absolute;
    margin-top: 40px;
    z-index: 999;
}

.nav-bar ul.responsive-menu li{
    padding: 15px 20px;
    background-color: #F4F6FA;
    transition: all ease .55s;
}

.nav-bar ul.responsive-menu li:hover{
    background-color: #E8E8E8;
}

.nav-bar ul.responsive-menu li a{
    color: #000000;
}


/*Contenedor principal*/

.first{
    display: flex;
    width: 100%;
    max-width: 1250px;
    padding: 24px;
    margin: 50px auto;
    gap: 50px;
}
/*Elemento animado*/
.first .first-section{
    display: flex;
    flex-direction: column;
    gap: 500px;
}

#animado{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    position: sticky;
    top: 0;
    padding: 60px 0px 60px 0px;
}

#animado h4{
    color: #8dc6d4;
    font-size: 18px;
}


/*Layout flex*/

.second-section{
    display: flex;
    gap: 30px;
}

.layout-flex{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 300px;
}

.second{
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 20px;
}

.image-talleres{
    width: auto;
    height: 170px;
    background-color: #8dc6d4;
    border-radius: 10px;
}

.second-section .layout-flex .second a i{
    font-size: 35px;
}

.layout-flex .second img{
    object-fit: cover;
}


/* footer form */

.form-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.form-footer .footer-form{
    background-color: #A9DFF3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    border-radius: 30px;
}

.form-footer .footer-form h2.t1{
    font-size: 40px;
}

.form-footer .footer-form h2.t2{
    font-size: 36px;
    color: #3D95A6;
    margin-bottom: 24px;
}

.form-footer .footer-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 20px;
}

.form-footer .footer-form form label input,
.form-footer .footer-form form label textarea{
    font-size: 18px;
    padding: 18px 23px;
    border-radius: 20px;
    border: none;
}

.form-footer .footer-form form label input.name{
    margin-right: 20px;
}

.form-footer .footer-form form label textarea{
    resize: none;
}

.form-footer .footer-form form label input.email,
.form-footer .footer-form form label textarea{
    width: 100%;
}

.form-footer .footer-form form button{
    font-size: 22px;
    padding: 20px 0;
    background-color: #3D95A6;
    color: #fafafa;
    transition: all ease .55s;
    border: none;
    border-radius: 20px;
}

.form-footer .footer-form form button:hover{
    background-color: #69C3E0;
}


/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 130px 0 130px;
}

footer .datos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

footer .datos .section1{
    width: 40%;
}

footer .datos .section1 .head{
    display: flex;
    align-items: center;
}

footer .datos .section1 .head img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

footer .datos .section1 .head h2{
    font-size: 48px;
    font-weight: 500;
    padding-top: 15px;
    margin-left: 15px;
}

footer .datos .section2,
footer .datos .section3{
    width: 10%;
}

footer .datos .section2 h3,
footer .datos .section3 h3{
    font-size: 22px;
}

footer .datos .section2 ul,
footer .datos .section3 ul{
    list-style: none;
    font-size: 16px;
}

footer .datos .section3 ul li{
    display: flex;
    align-items: center;
}

footer .datos .section3 ul li a{
    text-decoration: none;
    color: black;
}

footer .datos .section3 ul li i{
    color: black;
    margin-right: 5px;
    font-size: 20px;
}

footer .rrss{
    margin-top: 30px;
    margin-bottom: 10;
}

footer .rrss ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

footer .rrss ul li a{
    text-decoration: none;
    color: black;
    transition: all ease .55s;
}

footer .rrss ul li a:hover{
    color: #636363;
}

footer .rrss ul li a i{
    font-size: 30px;
}


/* darkmode */

body.darkmode{
    background-color: #121212;
}

.darkmode .buscador i.bx-x{
    color: #fafafa;
}

.darkmode .nav-bar ul li {
    color: #fafafa;
}

.darkmode .nav-bar ul li a{
    color: #fafafa;
}

.darkmode .nav-bar ul.responsive-menu li{
    background-color: #121212;
}

.darkmode .nav-bar ul.responsive-menu li:hover{
    background-color: #2c2c2c;
}

.darkmode .nav-bar i.bx-menu,
.darkmode .nav-bar i.bx-x{
    color: #fafafa;
}

.darkmode .first{
    color: #fafafa;
}

.darkmode #animado{
    color: #fafafa;
}

.darkmode .form-footer .footer-form{
    background-color: #2C3E50;
}

.darkmode .form-footer .footer-form h2.t1{
    color: #fafafa;
} 

.darkmode .form-footer .footer-form h2.t2{
    color: #69C3E0;
}

.darkmode .form-footer .footer-form form label input,
.darkmode .form-footer .footer-form form label textarea{
    background-color: #365A6C;
    border: 1px solid #69C3E0;
    color: #E1E1E1;
}

.darkmode footer{
    color: #fafafa;
}

.darkmode footer .datos .section3 ul li a{
    color: #fafafa;
}

.darkmode footer .datos .section3 ul li i{
    color: #fafafa;
}

.darkmode footer .rrss ul li a{
    color: #fafafa;
}

.darkmode footer .rrss ul li a:hover{
    color: #afafaf;
}


/* responsive */

@media(max-width: 1600px){
    footer{
        padding: 100px 90px 0 0;
    }
}

@media(max-width: 1250px){
    .form-footer img{
        display: none;
    }
}

@media (max-width:950px){
    .first{
        display: flex;
        width: 100%;
        max-width: 1250px;
        padding: 24px;
        margin: 0 auto;
    }

    .second-section{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media(max-width: 900px){
    .nav-bar ul li img{
        width: 70px;
        height: 70px;
    }

    .nav-bar ul.menu li{
        font-size: 18px;
    }

    .nav-bar ul.menu li i{
        font-size: 22px;
    }

    .nav-bar ul.menu li i.bxs-moon,
    .nav-bar ul.menu li i.bxs-sun{
        margin-left: 10px;
    }

    .nav-bar ul.menu li i.bx-search-a.menult{
        margin-right: 10px;
    }
}

@media(max-width: 800px){
    .nav-bar ul.menu{
        display: none;
    }

    .buscador .buscador-real ul#resultados{
        width: 30%;
    }

    .nav-bar i.bx-menu,
    .nav-bar i.bx-x{
        display: block;
    }
    
    .form-footer .footer-form{
        padding: 30px;
        justify-content: center;
    }
    
    .form-footer .footer-form h2.t1{
        font-size: 30px;
    }
    
    .form-footer .footer-form h2.t2{
        font-size: 26px;
        margin-bottom: 20px;
    }
    
    .form-footer .footer-form form{
        margin-right: 0;
    }
    
    .form-footer .footer-form form label input,
    .form-footer .footer-form form label textarea{
        font-size: 16px;
        padding: 15px 18px;
    }
    
    .form-footer .footer-form form label input.name{
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .form-footer .footer-form form label input.surname{
        width: 100%;
    }
    
    .form-footer .footer-form form button{
        font-size: 18px;
        padding: 15px 0;
    }

    footer{
        padding: 60px 30px 0 30px;
    }

    footer .datos{
        flex-direction: column;
        gap: 20px;
    }

    footer .datos .section{
        width: 100%;
    }

    footer .datos .section1 .head img{
        display: none;
    }

    footer .datos .section1 .head h2{
        margin-left: 0;
        font-size: 20px;
    }

    footer .datos .section1 .head p{
        font-size: 16px;
    }

    footer .datos h3{
        font-size: 20px;
        font-weight: 500;
    }

    footer .rrss{
        margin-top: 50px;
    }

    footer .rrss ul li a i{
        font-size: 36px;
    }

    footer p.copyright{
        font-size: 13px;
    }
}
@media(max-width: 690px){
    .first{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .layout-flex{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 380px;
    }

    .image-talleres{
        height: 230px;
    }

    #animado{
        margin-left: -5px;
        text-align: center;
    }
    #animado h1{
        font-size: 25px;
    }

    #animado h4{
        color: #8dc6d4;
        font-size: 23px;
    }

}

@media(max-width: 500px){
    .nav-bar i{
        margin-right: 0px;
    }

    #animado h1{
        font-size: 25px;
    }

    .buscador .buscador-real ul#resultados{
        width: 60%;
    }

    .buscador .buscador-real{
        justify-content: flex-start;
        padding: 150px 0 0 0;
    }
    
    #animado h4{
        color: #8dc6d4;
        font-size: 23px;
    }
    .first{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .layout-flex{
        width: 350px;
    }

    .image-talleres{
        height: 250px;
    }

    .form-footer{
        margin-top: 20px;
        overflow-x: hidden;
    }

    .form-footer .footer-form{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px;
        border-radius: 0;
    }
    
    .form-footer .footer-form h2.t1{
        font-size: 32px;
    }
    
    .form-footer .footer-form h2.t2{
        font-size: 28px;
        color: #3D95A6;
        margin-bottom: 24px;
    }
    
    .form-footer .footer-form form{
        margin-right: 0;
    }
    
    .form-footer .footer-form form label input,
    .form-footer .footer-form form label textarea{
        font-size: 16px;
        padding: 15px 18px;
    }
    
    .form-footer .footer-form form label input.name{
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .form-footer .footer-form form label input.surname{
        width: 100%;
    }
    
    .form-footer .footer-form form button{
        font-size: 18px;
        padding: 15px 0;
    }
}