/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F6FA;
    padding-bottom: 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a{
    text-decoration: none;
}

/* Talleres */

.higher h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0 40px 0;
}

.talleres{
    display: flex;
    padding: 0 80px 135px 80px;
    gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
}

.taller{
    display: flex;
    flex-direction: column;
    padding: 45px 25px 0 25px;
    border-radius: 20px;
    width: 311.59px;
    max-height: 455px;
    min-height: 385px;
}

.taller p.nom-taller{
    font-size: 16px;
    color: #fafafa;
}

.taller h3.titol-taller{
    font-size: 20px;
    color: #fafafa;
}

.taller h3.es{
    margin-bottom: 30px;
}

.taller1 img.imatge-taller,
.taller2 img.imatge-taller,
.taller3 img.imatge-taller{
    width: 150px;
    align-self: flex-end;
    margin-top: 20px;
    padding-bottom: 20px;
    aspect-ratio: 1/1;
}

.taller4 img.imatge-taller{
    width: 150px;
    height: 150px;
    align-self: flex-end;
    margin-top: 50px;
    padding-bottom: 20px;
    aspect-ratio: 1/1;
}

.taller i{
    color: #9C5434;
    font-size: 50px;
    padding: 15px;
    background-color: #B3C1DD;
    border-radius: 50%;
    align-self: center;
    margin-bottom: -30px;
    transition: all ease .55s;
}

.taller a{
    color: #9C5434;
    font-size: 50px;
    background-color: #B3C1DD;
    border-radius: 50%;
    align-self: center;
    margin-bottom: -30px;
    transition: all ease .55s;
}

.taller i:hover{
    background-color: #9cabc7;
}

.taller1{
    background-color: #5FB1C2;
}

.taller2{
    background-color: #48B988;
}

.taller3{
    background-color: #F38971;
}

.taller4{
    background-color: #D9B25F;
}

/* buscador */

.buscador{
    display: none;
    z-index: 999;
    position: absolute;
}

.buscador i.bx-x{
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: all ease .55s;
}

.buscador i.bx-x:hover{
    transform: scale(1.2);
}

.buscador .buscador-real{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -20px;
    flex-direction: column;
}

.buscador .buscador-real label{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
}

.buscador .buscador-real i{
    font-size: 20px;
    margin-right: 10px;
}

.buscador .buscador-real label input{
    border: none;
    font-size: 16px;
}

.buscador .buscador-real label input:focus{
    outline: none;
    box-shadow: none;
}

.buscador .buscador-real ul#resultados{
    width: 15%;
    list-style: none;
}

.buscador .buscador-real ul#resultados li{
    padding: 10px 20px;
    background-color: #fafafa;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: all ease .55s;
}

.buscador .buscador-real ul#resultados li:hover{
    background-color: #d8d8d8;
}


/* navbar */

.nav-bar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100vw;
}

.nav-bar ul.menu{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    align-items: center;
}

.nav-bar ul.menu li{
    color: #000000;
    font-weight: 400;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease .55s;
}

.nav-bar ul.menu li img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 10px;
}

.nav-bar ul.menu li:hover{
    transform: scale(1.1);
}

.nav-bar ul.menu li.arbol:hover{
    transform: scale(1);
}

.nav-bar ul.menu li a{
    text-decoration: none;
    color: #000000;
}

.nav-bar ul.menu li i{
    font-size: 26px;
}

.nav-bar ul.menu li i.bxs-moon,
.nav-bar ul.menu li i.bxs-sun{
    margin-left: 20px;
}

.nav-bar ul.menu li i.bx-search-alt{
    margin-right: 20px;
}

.nav-bar ul.menu li i,
.nav-bar ul.menu li.language-changer{
    cursor: pointer;
}

.nav-bar i.bx{
    display: block;
    cursor: pointer;
    font-size: 30px;
    width: auto;
    height: auto;
}

.nav-bar i.bx-menu,
.nav-bar i.bx-x{
    display: none;
}

.nav-bar ul.responsive-menu{
    display: none;
    list-style: none;
    width: 100%;
    display: none;
    position: absolute;
    margin-top: 40px;
    z-index: 999;
}

.nav-bar ul.responsive-menu li{
    padding: 15px 20px;
    background-color: #F4F6FA;
    transition: all ease .55s;
}

.nav-bar ul.responsive-menu li:hover{
    background-color: #E8E8E8;
}

.nav-bar ul.responsive-menu li a{
    color: #000000;
}


/* header */

.encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px 24px 24px 24px;
    width: 100%;
    gap: 10px;
}

.encabezado p{
    max-width: 1200px;
}


/* Seccion Grid */

.massrony-layoud{
    margin: 0 auto;
}

.gallery-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 280px 280px 280px 280px;
    grid-template-rows: 250px 250px 200px 200px;
    gap: 24px;
    width: 100%;
    margin: 0 auto;
}

.gallery-items{
    padding: 40px;
    min-height: 300px;
    border-radius: 10px;
}


/*Pre-seccion*/

.gallery-items.pre-seccion{
    background-color: #b3c1dd;
    display: flex;
    color: #FAFAFA;
    justify-content: center;
    flex-direction: column;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 50px;
    height: 320px;
}

.gallery-items.pre-seccion h3{
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
}


/* Primer juego*/

.gallery-items.primera-seccion{
    background-color: #d9b25f;
    display: flex;
    align-items: center;
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}

.content1{
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
}

.content1 ul{
    margin-left: 20px;
}

.content1 ul li{
    margin-left: 10px;
}
.image-presentacion{
    display: flex;
    justify-content: center;
}
.presentacion{
    margin-top: 20px;
    width: 300px;
}


/* Segundo juego */

.gallery-items.segunda-seccion{
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    background-color: #f38971;
    display: flex;
    align-items: center;
    margin-top: 70px;
}
.content2{
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content2 ul{
    margin-left: 30px;
}

.narracio{
    margin-top: 20px;
    width: 200px;
}


/* Tercer juego */

.gallery-items.tercera-seccion{
    grid-row: 3 / 6;
    grid-column: 3 / -1;
    background-color: #5fb1c2;
    display: flex;
    align-items: center;
    gap: 30px;
}

.content3{
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.content3 ul{
    margin-left: 30px;
}

.estaciones{
    margin-top: 20px;
    width: 400px;
}


/* Quarto juego*/

.gallery-items.cuarta-seccion{
    grid-column: 1 / 3;
    grid-row: 4 / 6;
    background-color: #48b988;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.content4{
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content4 ul{
    margin-left: 30px;
}

.reflexionar{
    margin-top: 20px;
    width: 200px;
}


/* footer form */

.form-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.form-footer .footer-form{
    background-color: #A9DFF3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    border-radius: 30px;
}

.form-footer .footer-form h2.t1{
    font-size: 40px;
}

.form-footer .footer-form h2.t2{
    font-size: 36px;
    color: #3D95A6;
    margin-bottom: 24px;
}

.form-footer .footer-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 20px;
}

.form-footer .footer-form form label input,
.form-footer .footer-form form label textarea{
    font-size: 18px;
    padding: 18px 23px;
    border-radius: 20px;
    border: none;
}

.form-footer .footer-form form label input.name{
    margin-right: 20px;
}

.form-footer .footer-form form label textarea{
    resize: none;
}

.form-footer .footer-form form label input.email,
.form-footer .footer-form form label textarea{
    width: 100%;
}

.form-footer .footer-form form button{
    font-size: 22px;
    padding: 20px 0;
    background-color: #3D95A6;
    color: #fafafa;
    transition: all ease .55s;
    border: none;
    border-radius: 20px;
}

.form-footer .footer-form form button:hover{
    background-color: #69C3E0;
}


/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 130px 0 130px;
}

footer .datos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

footer .datos .section1{
    width: 40%;
}

footer .datos .section1 .head{
    display: flex;
    align-items: center;
}

footer .datos .section1 .head img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

footer .datos .section1 .head h2{
    font-size: 48px;
    font-weight: 500;
    padding-top: 15px;
    margin-left: 15px;
}

footer .datos .section2,
footer .datos .section3{
    width: 10%;
}

footer .datos .section2 h3,
footer .datos .section3 h3{
    font-size: 22px;
}

footer .datos .section2 ul,
footer .datos .section3 ul{
    list-style: none;
    font-size: 16px;
}

footer .datos .section3 ul li{
    display: flex;
    align-items: center;
}

footer .datos .section3 ul li a{
    text-decoration: none;
    color: black;
}

footer .datos .section3 ul li i{
    color: black;
    margin-right: 5px;
    font-size: 20px;
}

footer .rrss{
    margin-top: 30px;
    margin-bottom: 10;
}

footer .rrss ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

footer .rrss ul li a{
    text-decoration: none;
    color: black;
    transition: all ease .55s;
}

footer .rrss ul li a:hover{
    color: #636363;
}

footer .rrss ul li a i{
    font-size: 30px;
}


/* darkmode */

body.darkmode{
    background-color: #121212;
}

.darkmode .buscador i.bx-x{
    color: #fafafa;
}

.darkmode .nav-bar ul li {
    color: #fafafa;
}

.darkmode .nav-bar ul li a{
    color: #fafafa;
}

.darkmode .nav-bar ul.responsive-menu li{
    background-color: #121212;
}

.darkmode .nav-bar ul.responsive-menu li:hover{
    background-color: #2c2c2c;
}

.darkmode .nav-bar i.bx-menu,
.darkmode .nav-bar i.bx-x{
    color: #fafafa;
}

.darkmode .encabezado{
    color: #fafafa;
}

.darkmode .finalitat h1{
    color: #fafafa;
}

.darkmode firts{
    color: #fafafa;
}

.darkmode .nav-bar ul li {
    color: #fafafa;
}

.darkmode .nav-bar ul li a{
    color: #fafafa;
}

.darkmode .first{
    color: #afafaf;
}

.darkmode .first-secction h4{
    color: #8dc6d4;
}

.darkmode .higher h1{
    color: #fafafa;
}

.darkmode .form-footer .footer-form{
    background-color: #2C3E50;
}

.darkmode .form-footer .footer-form h2.t1{
    color: #fafafa;
} 

.darkmode .form-footer .footer-form h2.t2{
    color: #69C3E0;
}

.darkmode .form-footer .footer-form form label input,
.darkmode .form-footer .footer-form form label textarea{
    background-color: #365A6C;
    border: 1px solid #69C3E0;
    color: #E1E1E1;
}

.darkmode footer{
    color: #fafafa;
}

.darkmode footer .datos .section3 ul li a{
    color: #fafafa;
}

.darkmode footer .datos .section3 ul li i{
    color: #fafafa;
}

.darkmode footer .rrss ul li a{
    color: #fafafa;
}

.darkmode footer .rrss ul li a:hover{
    color: #afafaf;
}


/* Media Queries */

@media(max-width: 1600px){
    footer{
        padding: 100px 90px 0 0;
    }
}


@media(max-width: 1500px){
    footer{
        padding: 100px 90px 0 0;
    }

    .gallery-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 24px;
    }

    .gallery-items.primera-seccion,
    .gallery-items.segunda-seccion,
    .gallery-items.tercera-seccion,
    .gallery-items.cuarta-seccion,
    .gallery-items.quinta-seccion,
    .gallery-items{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .espada{
        width: 120px;
        height: auto;
    }
    .gallery-items.segunda-seccion{
        display: flex;
        flex-direction: column;
    }

}

@media(max-width: 1250px){
    .form-footer img{
        display: none;
    }
}

@media(max-width: 900px){
    .nav-bar ul li img{
        width: 70px;
        height: 70px;
    }

    .nav-bar ul.menu li{
        font-size: 18px;
    }

    .nav-bar ul.menu li i{
        font-size: 22px;
    }

    .nav-bar ul.menu li i.bxs-moon,
    .nav-bar ul.menu li i.bxs-sun{
        margin-left: 10px;
    }

    .nav-bar ul.menu li i.bx-search-a.menult{
        margin-right: 10px;
    }
}

@media(max-width: 900px){
    .nav-bar ul li img{
        width: 70px;
        height: 70px;
    }

    .nav-bar ul.menu li{
        font-size: 18px;
    }

    .nav-bar ul.menu li i{
        font-size: 22px;
    }

    .nav-bar ul.menu li i.bxs-moon,
    .nav-bar ul.menu li i.bxs-sun{
        margin-left: 10px;
    }

    .nav-bar ul.menu li i.bx-search-a.menult{
        margin-right: 10px;
    }
}

@media(max-width: 800px){
    .nav-bar ul.menu{
        display: none;
    }

    .nav-bar i.bx-menu,
    .nav-bar i.bx-x{
        display: block;
    }


    .form-footer .footer-form{
        padding: 30px;
        justify-content: center;
    }
    
    .form-footer .footer-form h2.t1{
        font-size: 30px;
    }
    
    .form-footer .footer-form h2.t2{
        font-size: 26px;
        margin-bottom: 20px;
    }
    
    .form-footer .footer-form form{
        margin-right: 0;
    }
    
    .form-footer .footer-form form label input,
    .form-footer .footer-form form label textarea{
        font-size: 16px;
        padding: 15px 18px;
    }
    
    .form-footer .footer-form form label input.name{
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .form-footer .footer-form form label input.surname{
        width: 100%;
    }
    
    .form-footer .footer-form form button{
        font-size: 18px;
        padding: 15px 0;
    }


    footer{
        padding: 60px 30px 0 30px;
    }

    footer .datos{
        flex-direction: column;
        gap: 20px;
    }

    footer .datos .section{
        width: 100%;
    }

    footer .datos .section1 .head img{
        display: none;
    }

    footer .datos .section1 .head h2{
        margin-left: 0;
        font-size: 20px;
    }

    footer .datos .section1 .head p{
        font-size: 16px;
    }

    footer .datos h3{
        font-size: 20px;
        font-weight: 500;
    }

    footer .rrss{
        margin-top: 50px;
    }

    footer .rrss ul li a i{
        font-size: 36px;
    }

    footer p.copyright{
        font-size: 13px;
    }
}

@media(max-width: 500px){
    .gallery-items.pre-seccion{
        height: 500px;
    }

    .gallery-items.pre-seccion h3{
        text-align: center;
        margin-top: 20px;
        font-size: 35px;
    }

    .gallery-items.primera-seccion,
    .gallery-items.segunda-seccion,
    .gallery-items.tercera-seccion,
    .gallery-items.cuarta-seccion,
    .gallery-items.quinta-seccion,
    .gallery-items{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .presentacion{
        margin-top: 20px;
        width: 250px;
    }

    .narracio{
        width: 180px;
    }

    .estaciones{
        width: 280px;;
    }

    .reflexionar{
        margin-top: 30px;
        width: 200px;
    }

    .objetivo{
        width: 110px;
    }

    .gallery-container .gallery-items{
        display: flex;
        flex-direction: column;
    }
    .content5{
        display: flex;
        flex-direction: column;
    }

    .higher h1{
        display: flex;
        text-align: center;
        padding: 70px 20px 30px 20px;
    }

    .taller{
    display: flex;
    flex-direction: column;
    padding: 45px 25px 0 25px;
    border-radius: 20px;
    width: auto;
    max-height: 455px;
    min-height: 385px;
    }
    
    .form-footer{
        margin-top: 50px;
        overflow-x: hidden;
    }

    .form-footer .footer-form{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px;
        border-radius: 0;
    }
    
    .form-footer .footer-form h2.t1{
        font-size: 32px;
    }
    
    .form-footer .footer-form h2.t2{
        font-size: 28px;
        color: #3D95A6;
        margin-bottom: 24px;
    }
    
    .form-footer .footer-form form{
        margin-right: 0;
    }
    
    .form-footer .footer-form form label input,
    .form-footer .footer-form form label textarea{
        font-size: 16px;
        padding: 15px 18px;
    }
    
    .form-footer .footer-form form label input.name{
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .form-footer .footer-form form label input.surname{
        width: 100%;
    }
    
    .form-footer .footer-form form button{
        font-size: 18px;
        padding: 15px 0;
    }
}