@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F6FA;
    padding-bottom: 30px;
}

a{
    text-decoration: none;
}


.buscador{
    display: none;
    z-index: 999;
    position: absolute;
}

.buscador i.bx-x{
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: all ease .55s;
}

.buscador i.bx-x:hover{
    transform: scale(1.2);
}

.buscador .buscador-real{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -20px;
    flex-direction: column;
}

.buscador .buscador-real label{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
}

.buscador .buscador-real i{
    font-size: 20px;
    margin-right: 10px;
}

.buscador .buscador-real label input{
    border: none;
    font-size: 16px;
}

.buscador .buscador-real label input:focus{
    outline: none;
    box-shadow: none;
}

.buscador .buscador-real ul#resultados{
    width: 15%;
    list-style: none;
}

.buscador .buscador-real ul#resultados li{
    padding: 10px 20px;
    background-color: #fafafa;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: all ease .55s;
}

.buscador .buscador-real ul#resultados li:hover{
    background-color: #d8d8d8;
}


/* navbar */

.nav-bar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100vw;
}

.nav-bar ul.menu{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    align-items: center;
}

.nav-bar ul.menu li{
    color: #000000;
    font-weight: 400;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease .55s;
}

.nav-bar ul.menu li img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 10px;
}

.nav-bar ul.menu li:hover{
    transform: scale(1.1);
}

.nav-bar ul.menu li a{
    text-decoration: none;
    color: #000000;
}

.nav-bar ul.menu li i{
    font-size: 26px;
}

.nav-bar ul.menu li i.bxs-moon,
.nav-bar ul.menu li i.bxs-sun{
    margin-left: 20px;
}

.nav-bar ul.menu li i.bx-search-alt{
    margin-right: 20px;
}

.nav-bar ul.menu li i,
.nav-bar ul.menu li.language-changer{
    cursor: pointer;
}

.nav-bar i.bx{
    display: block;
    cursor: pointer;
    font-size: 30px;
    width: auto;
    height: auto;
}

.nav-bar i.bx-menu,
.nav-bar i.bx-x{
    display: none;
}

.nav-bar ul.responsive-menu{
    display: none;
    list-style: none;
    width: 100%;
    display: none;
    position: absolute;
    margin-top: 40px;
    z-index: 999;
}

.nav-bar ul.responsive-menu li{
    padding: 15px 20px;
    background-color: #F4F6FA;
    transition: all ease .55s;
}

.nav-bar ul.responsive-menu li:hover{
    background-color: #E8E8E8;
}

.nav-bar ul.responsive-menu li a{
    color: #000000;
}

.encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px 24px 24px 24px;
    width: 100%;
    gap: 10px;
}

.encabezado p{
    max-width: 1200px;
}


/* Seccion Grid */

.gallery-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 100%;
    padding: 0px 250px 0px 250px;
    margin: 0 auto;
}

.gallery-items{
    padding: 40px;
    min-height: 300px;
    border-radius: 10px;
}


/*Primera sesion*/

.gallery-items.pre-seccion{
    background-color: #b3c1dd;
    display: flex;
    color: #FAFAFA;
    justify-content: center;
    flex-direction: column;
    grid-column: 1 / 2;
}

.gallery-items.pre-seccion h3{
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
}


/* Primer elemento*/

.gallery-items.primera-seccion{
    background-color: #d9b25f;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;
    grid-column: 2 / 3;
}

.content1{
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content1 ul{
    margin-left: 10px;
}

.content1 ul li{
    margin-left: 10px;
}

.interactive-book{
    width: 200px;
}


/* Segundo elemento */

.gallery-items.segunda-seccion{
    grid-column: 1 / 2;
    background-color: #f38971;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
}
.content2{
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content2 ul{
    margin-left: 20px;
}

.miedo{
    width: 200px;
    height: 200px;
}


/* Tercer elemento */

.gallery-items.tercera-seccion{
    background-color: #5fb1c2;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
}

.content3{
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comodo{
    width: 100px;
    height: auto;
}


/*Preseccion 2*/

.gallery-items.pre-seccion2{
    background-color: #b3c1dd;
    grid-column: 1 / 3;
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
}

.gallery-items.pre-seccion2 h3{
    margin-top: 20px;
}

.gallery-items.pre-seccion2 h4{
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
}


/* Quarto elemento */

.gallery-items.cuarta-seccion{
    background-color: #48b988;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row-reverse;
    gap: 10px;
}

.content4{
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recordar{
    width: 150px;
    height: auto;
}


/* Qinto elemento */

.gallery-items.quinta-seccion{
    background-color: #f38971;
    display: flex;
    width: 100%;
}

.content5{
    color: #FAFAFA;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.content5 ul{
    margin-left: 20px;
}

.monster{
    width: 300px;
    height: 300px;

}


/* footer form */

.form-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.form-footer .footer-form{
    background-color: #A9DFF3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    border-radius: 30px;
}

.form-footer .footer-form h2.t1{
    font-size: 40px;
}

.form-footer .footer-form h2.t2{
    font-size: 36px;
    color: #3D95A6;
    margin-bottom: 24px;
}

.form-footer .footer-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 20px;
}

.form-footer .footer-form form label input,
.form-footer .footer-form form label textarea{
    font-size: 18px;
    padding: 18px 23px;
    border-radius: 20px;
    border: none;
}

.form-footer .footer-form form label input.name{
    margin-right: 20px;
}

.form-footer .footer-form form label textarea{
    resize: none;
}

.form-footer .footer-form form label input.email,
.form-footer .footer-form form label textarea{
    width: 100%;
}

.form-footer .footer-form form button{
    font-size: 22px;
    padding: 20px 0;
    background-color: #3D95A6;
    color: #fafafa;
    transition: all ease .55s;
    border: none;
    border-radius: 20px;
}

.form-footer .footer-form form button:hover{
    background-color: #69C3E0;
}


/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 130px 0 130px;
}

footer .datos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

footer .datos .section1{
    width: 40%;
}

footer .datos .section1 .head{
    display: flex;
    align-items: center;
}

footer .datos .section1 .head img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

footer .datos .section1 .head h2{
    font-size: 48px;
    font-weight: 500;
    padding-top: 15px;
    margin-left: 15px;
}

footer .datos .section2,
footer .datos .section3{
    width: 10%;
}

footer .datos .section2 h3,
footer .datos .section3 h3{
    font-size: 22px;
}

footer .datos .section2 ul,
footer .datos .section3 ul{
    list-style: none;
    font-size: 16px;
}

footer .datos .section3 ul li{
    display: flex;
    align-items: center;
}

footer .datos .section3 ul li a{
    text-decoration: none;
    color: black;
}

footer .datos .section3 ul li i{
    color: black;
    margin-right: 5px;
    font-size: 20px;
}

footer .rrss{
    margin-top: 30px;
    margin-bottom: 10;
}

footer .rrss ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

footer .rrss ul li a{
    text-decoration: none;
    color: black;
    transition: all ease .55s;
}

footer .rrss ul li a:hover{
    color: #636363;
}

footer .rrss ul li a i{
    font-size: 30px;
}


/* darkmode */

body.darkmode{
    background-color: #121212;
}

.darkmode .buscador i.bx-x{
    color: #fafafa;
}

.darkmode .nav-bar ul li {
    color: #fafafa;
}

.darkmode .nav-bar ul li a{
    color: #fafafa;
}

.darkmode .nav-bar ul.responsive-menu li{
    background-color: #121212;
}

.darkmode .nav-bar ul.responsive-menu li:hover{
    background-color: #2c2c2c;
}

.darkmode .nav-bar i.bx-menu,
.darkmode .nav-bar i.bx-x{
    color: #fafafa;
}

.darkmode .encabezado{
    color: #fafafa;
}

.darkmode .finalitat h1{
    color: #fafafa;
}

.darkmode firts{
    color: #fafafa;
}

.darkmode .nav-bar ul li {
    color: #fafafa;
}

.darkmode .nav-bar ul li a{
    color: #fafafa;
}

.darkmode .first{
    color: #afafaf;
}

.darkmode .first-secction h4{
    color: #8dc6d4;
}

.darkmode .form-footer .footer-form{
    background-color: #2C3E50;
}

.darkmode .form-footer .footer-form h2.t1{
    color: #fafafa;
} 

.darkmode .form-footer .footer-form h2.t2{
    color: #69C3E0;
}

.darkmode .form-footer .footer-form form label input,
.darkmode .form-footer .footer-form form label textarea{
    background-color: #365A6C;
    border: 1px solid #69C3E0;
    color: #E1E1E1;
}

.darkmode footer{
    color: #fafafa;
}

.darkmode footer .datos .section3 ul li a{
    color: #fafafa;
}

.darkmode footer .datos .section3 ul li i{
    color: #fafafa;
}

.darkmode footer .rrss ul li a{
    color: #fafafa;
}

.darkmode footer .rrss ul li a:hover{
    color: #afafaf;
}


/* Media Queries */

@media(max-width: 1600px){
    /* footer */

    footer{
        padding: 100px 90px 0 0;
    }
}

@media(max-width: 1500px){
    /* footer */

    footer{
        padding: 100px 90px 0 0;
    }

    .gallery-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
    }

    .gallery-items.primera-seccion,
    .gallery-items.segunda-seccion,
    .gallery-items.tercera-seccion,
    .gallery-items.cuarta-seccion,
    .gallery-items.quinta-seccion{
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .content1,
    .content2,
    .content3,
    .content4,
    .content5{
        max-width: 50%;
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 1250px){
    /* formulari footer */

    .form-footer img{
        display: none;
    }
}

@media(max-width: 1000px){
    /*Imagenes en responsive móvil*/
    .gallery-container .gallery-items{
        display: flex;
        flex-direction: column;
    }

    .content1,
    .content2,
    .content3,
    .content4,
    .content5{
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .content5{
        display: flex;
        flex-direction: column;
    }

    .interactive-book{
        width: 120px;
        height: auto;
    }

    .miedo{
        margin-top: 20px;
        width: 130px;
        height: auto;
    }

    .comodo{
        margin-bottom: 10px;
    }

    .recordar{
        width: 100px;
        height: auto;
    }

    .monster{
        width: 150px;
        height: auto;
    }
}


@media(max-width: 900px){
    .nav-bar ul li img{
        width: 70px;
        height: 70px;
    }

    .nav-bar ul.menu li{
        font-size: 18px;
    }

    .nav-bar ul.menu li i{
        font-size: 22px;
    }

    .nav-bar ul.menu li i.bxs-moon,
    .nav-bar ul.menu li i.bxs-sun{
        margin-left: 10px;
    }

    .nav-bar ul.menu li i.bx-search-a.menult{
        margin-right: 10px;
    }
}

@media(max-width: 800px){
    .nav-bar ul.menu{
        display: none;
    }

    .buscador .buscador-real ul#resultados{
        width: 30%;
    }

    .nav-bar i.bx-menu,
    .nav-bar i.bx-x{
        display: block;
    }


    /* formulari footer */
    
    .form-footer .footer-form{
        padding: 30px;
        justify-content: center;
    }
    
    .form-footer .footer-form h2.t1{
        font-size: 30px;
    }
    
    .form-footer .footer-form h2.t2{
        font-size: 26px;
        margin-bottom: 20px;
    }
    
    .form-footer .footer-form form{
        margin-right: 0;
    }
    
    .form-footer .footer-form form label input,
    .form-footer .footer-form form label textarea{
        font-size: 16px;
        padding: 15px 18px;
    }
    
    .form-footer .footer-form form label input.name{
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .form-footer .footer-form form label input.surname{
        width: 100%;
    }
    
    .form-footer .footer-form form button{
        font-size: 18px;
        padding: 15px 0;
    }


    /* footer */

    footer{
        padding: 60px 30px 0 30px;
    }

    footer .datos{
        flex-direction: column;
        gap: 20px;
    }

    footer .datos .section{
        width: 100%;
    }

    footer .datos .section1 .head img{
        display: none;
    }

    footer .datos .section1 .head h2{
        margin-left: 0;
        font-size: 20px;
    }

    footer .datos .section1 .head p{
        font-size: 16px;
    }

    footer .datos h3{
        font-size: 20px;
        font-weight: 500;
    }

    footer .rrss{
        margin-top: 50px;
    }

    footer .rrss ul li a i{
        font-size: 36px;
    }

    footer p.copyright{
        font-size: 13px;
    }
}

@media(max-width: 500px){
    /*Imagenes en responsive móvil*/
    .gallery-container .gallery-items{
        display: flex;
        flex-direction: column;
    }

    .content1,
    .content2,
    .content3,
    .content4,
    .content5{
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .content5{
        display: flex;
        flex-direction: column;
    }

    /* form footer */

    .form-footer{
        margin-top: 20px;
        overflow-x: hidden;
    }

    .buscador .buscador-real ul#resultados{
        width: 60%;
    }

    .buscador .buscador-real{
        justify-content: flex-start;
        padding: 150px 0 0 0;
    }

    .form-footer .footer-form{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px;
        border-radius: 0;
    }
    
    .form-footer .footer-form h2.t1{
        font-size: 32px;
    }
    
    .form-footer .footer-form h2.t2{
        font-size: 28px;
        color: #3D95A6;
        margin-bottom: 24px;
    }
    
    .form-footer .footer-form form{
        margin-right: 0;
    }
    
    .form-footer .footer-form form label input,
    .form-footer .footer-form form label textarea{
        font-size: 16px;
        padding: 15px 18px;
    }
    
    .form-footer .footer-form form label input.name{
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .form-footer .footer-form form label input.surname{
        width: 100%;
    }
    
    .form-footer .footer-form form button{
        font-size: 18px;
        padding: 15px 0;
    }
}